<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Codegram</title>
	<link rel="stylesheet" href="{% static 'public/build/css/style.css' %}">
</head>
<body>
<div id="app"></div>
<script src="{% static 'public/build/js/bundle.js' %}" charset="utf-8"></script>
</body>
</html>