@import "vars";

.page {
	position: absolute;
	top: 0;
	left: @header-width;
	height: 100%;
	width: @body-width;

	@media @large-screen {
		max-width: 1140px;
	}

	& .heading {
		display: block;
		position: relative;
		padding: 20px 5vw;
		margin: 0 auto;
		background: @grey-bright;
		height: 80px;
		vertical-align: center;
		color: @blue-darkest;
	}

	& .content {
		display: block;
		position: relative;
		padding: 15px;
	}
}