@import "vars";

.footer {
	text-align: right;
	width: 100%;
	font-size: 12px;
	padding-right: 10px;
	@media @laptop {
		position: absolute;
		bottom: 0;
		left: @header-width;
		width: @body-width;
		clear: both;
	}
}