@import "vars";

.header {
	background: @blue-dark;
	color: white;
	transition: width 1s;
	@media @laptop {
		//top: 0;
		//left: 0;
		width: @header-width;
		//position: absolute;
		height: 100vh;
	}

	& .menu-items {
		margin: 0 auto;
		padding: 0 1em;
	}

	& a {
		font-weight: bold;
		color: white;
		text-decoration: inherit;
		outline-width: 0;

		&:link, &:active, &:hover, &:visited {
			color: white;
			text-decoration: inherit;
		}
	}

	& .logo {
		padding: 0.5em 0.5em 0;
		font-size: 2em;
	}

	& .menu-entry {
		padding: 5px 35px;
		margin: 7px auto;
		background: @blue-darker;
		border-radius: 10px;
		//text-align: center;
	}

	&.collapsed {
		width: @header-width-collapsed;

		& > div {
			display: none;
		}
	}
}