@import "vars";

.login-header {
	background-color: @blue-dark;
	color: white;
	text-align: center;
	font-size: 36px;
	padding: 50px 0;
	height: 200px;
}

.login-form-wrapper {
	margin: 20px auto;
	width: 34%;
	background-color: #d0d1ff;
	border-radius: 15px;
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.login-form {
	margin: 0;
	width: 80%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;

	& > div {
		display: flex;
		justify-content: center;
		margin: 4px auto;
		width: 100%;
		& > input {
			width: 100%;
		}
		& > label {
			font-size: 15px;
			text-wrap: none;
		}
	}
	& > h2 {
		color: @blue-darker;
		width: 100%;
		text-align: center;
	}
}