@import "vars";

@row-height: 54px;
@row-height-internal: 45px;
@row-padding: 15px 20px;
@tile-height: 150px;

.project-row {
	padding: @row-padding;
	margin: 2px;
	//border: 1px solid black; // markup helper
	border-radius: @row-height-internal;
	background: @grey-bright;
	height: @row-height;
	flex: 1;
	flex-basis: 100%;
	& > div {
		display: flex;

		&:nth-child(2) {
			flex: 1;
			margin: 0;
		}
	}

	& .friend-letter {
		background: @blue-darker;
		margin: -10px 5px auto -16px;
		padding: 6px 7px;
		border-radius: @row-height-internal;
		height: @row-height-internal;
		width: @row-height-internal;

		& > span {
			color: white;
			font-size: 25px;
			font-family: "Consolas", monospace;
		}
	}

	&:hover {
		background: @blue-darker;
		transition: background-color 0.5s;
		& .friend-letter {
			background: @grey-bright;
			transition: inherit;
			& > span {
				color: @blue-darker;
				transition: inherit;
			}
		}
	}
}

.project-tile {
	border: 1px solid black; // markup helper
	border-radius: @row-height-internal;
	height: @row-height;
	flex: 1;
	flex-basis: 33%;
}

.project-list {
	display: flex;
}