@tablet: ~"screen and (min-width: 479px) and (max-width: 900px)";
@laptop: ~"screen and (min-width: 900px)";
@large-screen: ~"screen and (min-width: 1140px)";

@header-width: 255px;
@header-width-collapsed: 55px;
@body-width: calc(100% - @header-width);
@body-width-full: calc(100% - @header-width-collapsed);

@blue-dark: #5682a3;
@blue-darker: #3e5f79;
@blue-darkest: #2f475f;
@grey-bright: #e7ebf0;
@grey-brighter: #edf1f6;
